longcellvalues_copy.csv
longcellvalues.csv
.~lock.refScatRatio.csv#
all_longcellvalues.csv
eukaryota.fasta
infoout
longcellvalues.csv
README.md
refperscat_xkcd.png
refscatrat.png
refScatRatio_old.csv
refScatRatio.csv
refScatRatioDROPNA.csv
runme.sh
sContent_save.csv
unitcellhist_all_bin1000.png
unitcellhist_log_all_bin1000.png
unitcellhist_log.png
unitcellhist_to300.png
unitcellhist.png
wavelengthlistvalues_all.csv
wavelengthlistvalues.csv
.vscode/settings.json
all_longcellvalues.csv
infoout
longcellvalues.csv
README.md
refperscat_xkcd.png
refScatRatio.csv
refScatRatioDROPNA.csv
wavelengthlistvalues.csv
